:root {
  --azulTom5: #014ba0;
  --azulTom4: #0a5cb8;
  --azulTom3: #1466c3;
  --azulTom2: #2174d4;
  --azulTom1: #3b8eed;
  --laranjaTom5: #fd3a2d;
  --laranjaTom4: #fe5f2f;
  --laranjaTom3: #fe8330;
  --laranjaTom2: #ffa832;
  --laranjaTom1: #ffcc33;
  --branco: #eeeeee;
  --branco2: #ffffff;
  --branco3: #F8F9FA;
  --preto: #3c3c3c;
  --preto2: #B3B3B3;
  --ouro: #FFD700;
  --prata: #C0C0C0;
  --bronze: #CD7F32;
  --verde: #00B819;
}
