@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  font-family: "Roboto", sans-serif;
  color: var(--preto);
}

.main-inicio{
  padding-top: 3.125em;
  min-height: calc(100vh - 3.7em);
  height: calc(100% - 3.7em);
}

.img-logo {
  height: 2em;
}

.menu {
  padding: 0.1em;
  position: fixed;
  width: 100%;
}

.menu-bloco {
  width: 33.3%;
  margin: 0;
}

#btn-cadastro {
  background-color: var(--azulTom3);
  border-radius: 0.5em;
  color: var(--branco);
  box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3);
  border: 0.15em solid var(--azulTom2);
  height: 2.5em;
  font-weight: 600;
}

#btn-cadastro:hover {
  background-color: var(--branco);
  color: var(--azulTom2);
}

.degrade {
  background: linear-gradient(
    to right,
    var(--azulTom1) 10%,
    var(--azulTom2) 30%,
    var(--azulTom3) 50%,
    var(--azulTom4) 60%,
    var(--azulTom5) 100%
  );
  width: 100%;
  height: 70vh;
}

.ajustar-titulos {
  height: 100%;
  width: 100%;
  color: var(--branco);
  text-align: center;
}

.capa hr {
  width: 80%;
}

.btn-capa {
  margin-top: 1.5em;
}

.btn-capa a,
.btn-saibaMais {
  width: 12em;
  font-size: 1em;
  font-weight: 600;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  color: var(--branco);
  background-color: var(--laranjaTom4);
  border: 0.15em solid var(--laranjaTom4);
}

.btn-capa-ajuste-cadastrar{
  justify-content: end;
}

.btn-capa-ajuste-pin{
  justify-content: start;
}

.btn-capa .btn-capa-cadastrar {
  background-color: var(--branco);
  color: var(--azulTom3);
  border: 0.15em solid var(--azulTom3);
}

.btn-capa .btn-capa-cadastrar:hover {
  background-color: var(--azulTom3);
  border: 0.1em solid var(--branco);
  color: var(--branco);
}

.btn-capa .btn-capa-pin {
  background-color: var(--branco);
  color: var(--laranjaTom4);
  border: 0.15em solid var(--laranjaTom4);
}

.btn-capa .btn-capa-pin:hover {
  background-color: var(--laranjaTom4);
  color: var(--branco);
}

.btn-icone-sobre,
.btn-icone-recurso,
.btn-icone-quemsomos,
.capa-sobre div {
  background-color: var(--laranjaTom3);
  width: 10em;
  height: 10em;
  border-radius: 50%;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.btn-icone-recurso,
.capa-recursos div {
  background-color: var(--laranjaTom1);
  border-radius: 50%;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.btn-icone-quemsomos,
.capa-quemSomos div {
  background-color: var(--laranjaTom2);
  border-radius: 50%;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

.btn-icone-sobre img,
.btn-icone-recurso img,
.btn-icone-quemsomos img {
  width: 6em;
}

.area {
  width: 100%;
}

.area p {
  text-align: center;
  font-size: 1.3em;
}

.area h2{
  text-align: center;
}

.btn-saibaMais:hover {
  background-color: var(--branco2);
  border: 0.15em solid var(--laranjaTom4);
  color: var(--laranjaTom4);
}

.btn-recurso {
  background-color: var(--laranjaTom4);
  border-radius: 1em;
  height: 3.5em;
  width: 22em;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);

}

.btn-recurso h4 {
  text-shadow: 0.1em 0.1em var(--preto);
}

.btn-recurso img {
  width: 4em;
}

.quizz {
  background-color: var(--laranjaTom3);
}

.relatorio {
  background-color: var(--laranjaTom2);
}

.acesso {
  background-color: var(--laranjaTom1);
}

.rodape {
  background-color: var(--azulTom5);
  height: 3.7em;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.rodape p {
  color: var(--branco);
}

/*PÁGINA SOBRE*/

.main-sobre{
  padding-top: 3.125em;
  min-height: calc(100vh - 3.7em);
  height: calc(100% - 3.7em);
}

.capa-sobre{
  background-image: url(../img/Capa-Sobre.png);
  background-repeat: no-repeat;/*Não repetir a imagem na tela*/
  background-size: cover;/*Imagem ocupa todos os espaços*/
  background-position: center;/*Posicionar imagem ao centro*/
  width: 100%;
  height: 9.5em;
}

.capa-sobre div{
  height: 6em;
  width: 6em;
}

.capa-sobre img{
  height: 4em;
}

.desc-sobre{
  text-align: justify;
}

.saiba-mais{
  width: 9em;
  text-decoration: none;
  color: var(--preto);
}

.recursos-icone-esfera{
  border-radius: 50%;
  background-color: var(--laranjaTom1);
  width: 2.2em;
  height: 2.2em;
  box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
}

.saiba-mais div img{
  height: 1.3em;
}

.quemSomos-icone-esfera{
  border-radius: 50%;
  background-color: var(--laranjaTom2);
  width: 2.2em;
  height: 2.2em;
  box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
}

.quemSomos-icone div img{
  height: 1.3em;
}

/*FIM PÁGINA SOBRE*/
/*PÁGINA RECURSOS*/

.main-recursos{
  padding-top: 3.125em;
  min-height: calc(100vh - 3.7em);
  height: calc(100% - 3.7em);
}

.capa-recursos{
  background-image: url(../img/capa-recursos.png);
  background-repeat: no-repeat;/*Não repetir a imagem na tela*/
  background-size: cover;/*Imagem ocupa todos os espaços*/
  background-position: center;/*Posicionar imagem ao centro*/
  width: 100%;
  height: 9.5em;
}

.capa-recursos div{
  height: 6em;
  width: 6em;
}

.capa-recursos img{
  height: 4em;
}

.campo-recursos img{
  height: 3.5em;
}

.campo-recursos{
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1em;
  box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.1);
}

.sobre-icone-esfera{
  border-radius: 50%;
  background-color: var(--laranjaTom3);
  width: 2.2em;
  height: 2.2em;
  box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
}

/*FIM RECURSOS*/
/*QUEM SOMOS*/

.main-quemSomos{
  padding-top: 3.125em;
  min-height: calc(100vh - 3.7em);
  height: calc(100% - 3.7em);
}

.capa-quemSomos{
  background-image: url(../img/capa-quem-somos.png);
  background-repeat: no-repeat;/*Não repetir a imagem na tela*/
  background-size: cover;/*Imagem ocupa todos os espaços*/
  background-position: center;/*Posicionar imagem ao centro*/
  width: 100%;
  height: 9.5em;
}

.capa-quemSomos div{
  height: 6em;
  width: 6em;
}

.capa-quemSomos img{
  height: 4em;
}

.area-quemSomos div{
  max-width: 60em;
}

.area-quemSomos div img{
  height: 5em;
}

.perfil{
 text-align: justify;
}

/*FIM QUEM SOMOS*/
/*PÁGINA PIN ENTRAR*/
  .fundo-pin{
    background-color: var(--laranjaTom2);
  }

  .header-pin{
    height: 4em;
  }

  .btn-pin{
    background-color: var(--azulTom4);
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
    color: var(--branco);
    border: 0.15em solid var(--azulTom2);
  }

  .btn-pin:hover{
    background-color: var(--branco);
    color: var(--azulTom2);
    border: 0.15em solid var(--azulTom2);
  }

  .main-pin{
    min-height: calc(100vh - 3.7em - 4em);
    height: calc(100% - 3.7em);
    padding-bottom: 3.7em;
  }

  .logo-pin{
    width: 10em;
  }

  .input-pin div input{
    width: 23em;
    text-align: center;
  }

  .btn-pin-entrar{
    font-size: 1.2em;
  }

/*FIM PÁGINA PIN ENTRAR*/
/*TELA DE ESPERA*/
  .header-pin-espera{
    min-height: 4em;
  }

  .espera-pin-logo img{
    height: 3.125em;
  }

  .pin-campo{
    background-color: var(--azulTom4);
    height: 2.8em;
    width: 6em;
    border-radius: 0.5em;
  
  }

  .pin-campo img{
    height: 2em;
  }

  .pin-campo span{
    color: var(--branco2);
    font-weight: 600;
    font-size: 1.4em;
  }

  .espera-pin-logo{
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .espera-pin-participantes{
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .pin-codigo{
    background-color: var(--branco);
    color: var(--preto);
    border-radius: 0.5em;
    height: 3em;
    border: 0.15em solid var(--laranjaTom1);
  }

  .pin-comecar{
    background-color: var(--laranjaTom4);
    color: var(--branco);
    border-radius: 0.5em;
    height: 2.5em;
    font-weight: 600;
    font-size: 1.2em;
    border: 0.15em solid var(--laranjaTom4);
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  }

  .pin-comecar:hover{
    background-color: var(--branco);
    color: var(--laranjaTom4);
    border: 0.15em solid var(--laranjaTom4);
  }

  .campo-participantes div{
    background-color: var(--branco);
    min-width: 10em;
  }

  .campo-participantes-direita {
    border-bottom-right-radius: 1em;
    border-left: 0.01em solid var(--preto);
  }

  .campo-participantes-esquerda {
    border-bottom-left-radius: 1em;
    border-right: 0.01em solid var(--preto);
  }

  .campo-participantes div p{
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
  }

  .campo-participantes h4{
    text-align: center;
    background-color: var(--branco);
    margin: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

/*FIM DA TELA DE ESPERA*/
/*PERGUNTAS - QUIZZ*/
  .header-pin-quizz{
    background-color: var(--azulTom5);
    height: 4em;
    width: 100%;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }

  .header-pin-quizz p{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--branco);
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .cronometro{
    width: 8em;
  }

  .perguntas .row div {
    background-color: var(--branco2);
    height: 13em;
    width: 25em;
    margin: 0.5em;
    border-radius: 1em;
  }

  .perguntas .row div p{
    font-size: 2em;
    color: var(--azulTom4);
    font-weight: 600;
    text-shadow: 0.07em 0.07em var(--azulTom1);
    width: 100%;
    height: 100%;
  }

/*FIM PERGUNTAS - QUIZZ*/
/*PLACAR FINAL*/
  .placar-logo img{
    height: 3em;
  }

  .placar-titulo{
    width: 7em;
    border-radius: 0.3em;
    font-size: 1.8em;
    background-color: var(--azulTom4);
    color: var(--branco);
    font-weight: 500;
    position: relative;
    top: 0;
  }

  .placar-posicao{
    font-size: 1.5em;
    font-weight: 500;
    width: 13em;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.15);
  }

  .placar-primeiro{
    background-color: var(--ouro);
  }

  .placar-segundo{
    background-color: var(--prata);
  }

  .placar-terceiro{
    background-color: var(--bronze);
  }

  .btn-finalizar{
    background-color: var(--branco);
    font-size: 1em;
    font-weight: 600;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
    color: var(--azulTom4);
    border: 0.15em solid var(--azulTom2);
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0.8em;
    margin-right: 0.8em;
  }

  .btn-finalizar:hover{
    background-color: var(--azulTom4);
    color: var(--branco);
    border: 0.15em solid var(--azulTom2);
  }

  .placar-ajuste-tela{
    position: relative;
  }
/*FIM - PLACAR FINAL*/
/*RELATÓRIO*/
  .perfil-menu div img{
    height: 2.1em;
    cursor: pointer;

  }

  .main-perfil{
    padding-top: 2.8em;
    min-height: 100vh;
    height: 100%;
  }

  .barra-lateral{
    background-color: var(--branco3);
    border: 0.1em solid var(--branco);
    width: 20em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  }

 .barra-lateral img{
    width: 9em;
    
  }

  .barra-lateral h3{
    color: var(--azulTom4);
    text-shadow: 0.05em 0.05em rgba(0, 0, 0, 0.2);
  }

  .criar-quizz{
    background-color: var(--laranjaTom4);
    border-radius: 0.5em;
  }

  .criar-quizz span{
    font-size: 1.5em;
    color: var(--branco);
    font-weight: 500;
  }

  .criar-quizz img{
    height: 1.8em;
    width: 1.8em;
  }

  .criar-quizz:hover{
    background-color: rgba(254, 95, 47, 0.7);
  }

  .historico{
    background-color: var(--branco2);
    border: 0.1em solid var(--branco);
    border-radius: 1em;
  }

  .selecionado{
    border: 0.1em solid var(--azulTom1);
  }

  .barra-lateral-pin{
    color: var(--laranjaTom4);
    border: 0.1em solid var(--laranjaTom4);
    background-color: var(--branco2);
    font-weight: 500;
  }

  .barra-lateral-pin:hover{
    color: var(--branco);
    border: 0.1em solid var(--laranjaTom4);
    background-color: var(--laranjaTom4);
  }

  .desempenho{
    max-width: 40em;
    background-color: var(--branco3);
    border: 0.1em solid var(--branco);
    border-radius: 1em;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  }

  .desempenho div img{
    height: 1.5em;
  }

  .desempenho-dados{
    justify-content: center;
  }

  .desempenho-dados div{
    border: 0.05em solid var(--preto);
    height: 3em;
    background-color: var(--branco2);
  }

  .desempenho-dados-img{
    border-top-left-radius: 0.6em; 
    border-bottom-left-radius: 0.6em; 
  }

  .desempenho-dados-desc{
    border-left: none;
    border-top-right-radius: 0.6em; 
    border-bottom-right-radius: 0.6em; 
    min-width: 6em;
  }

  .lixo-pdf{
    background-color: var(--branco3);
    height: 2em;
    border-radius: 1em;
    border: 0.05em solid var(--branco);
    max-width: 5.3em;
  }

  .lixo-pdf img{
    height: 1.3em;
  }

  .btn-comecar{
    background-color: var(--azulTom4);
    height: 2em;
    font-size: 1.2em;
    color: var(--branco);
    font-weight: 500;
    border-radius: 0.5em;
    max-width: 7.6em;
    text-decoration: none;
    
  }

  .btn-comecar:hover{
    background-color: var(--azulTom2);
  }

  .btn-comecar img{
    height: 1.2em;
  }

  .result-participantes{
    background-color: var(--branco3);
    border: 0.1em solid var(--branco);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    max-width: 40em;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  }

  .result-participantes h5{
    text-align: center;
  }

  .result-individual{
    background-color: var(--branco2);
    border: 0.1em solid var(--branco);
    border-radius: 1em;
  }

  .result-jogador span{
    font-size: 1.2em;
  }

  .result-participantes div img{
    width: 1.8em;
  }

  .result-questoes{
    background-color: var(--branco3);
    border: 0.1em solid var(--branco);
    border-top: none;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    max-width: 40em;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  }

  .result-questoes div div img{
    width: 2.8em;
  }

  .result-questoes-acertos{
    justify-content: end;
  }

  .result-questoes-erros{
    justify-content: start;
  }

  .btn-barra-lateral{
    border: 0.1em solid var(--branco);
    border-radius: 0.4em;
  }

  .btn-barra-lateral img{
    height: 1.8em;
  }

  .barra-oculta{
    width: 100%;
    height: 100%;
    background-color: var(--branco2);
    border: none;
  }
/*FIM RELATÓRIO*/
/*CRIAÇÃO QUIZZ*/
  .criar-desativar{
    background-color: rgba(254, 95, 47, 0.6);
  }

  .criar-desativar:hover{
    background-color: rgba(254, 95, 47, 0.6);
  }
  
  .pin-campo input{
    width: 4.2em;
    background-color: var(--laranjaTom4);
    border: 0.1em solid var(--laranjaTom2);
    border-radius: 0.5em;
  }

  .quizz-tela-criacao{
    background-color: var(--azulTom5);
    max-width: 40em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  }

  .cro-laranja{
    background-color: var(--laranjaTom4);
    width: 12em;
  }

  .cronometro select{
    background-color: var(--branco2);
    height: 2.3em;
    border: 0.1em solid var(--laranjaTom2);
  }

  .criacao-numero{
    background-color: var(--branco2);
    width: 100%;
    height: 2.5em;
    text-align: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .criacao-pergunta{
    background-color: var(--branco);
    width: 100%;
    height: 8em;
    text-align: center;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .criar-alternativa{
    background-color: var(--laranjaTom1);
    width: 22em;
    border-radius: 0.5em;
  }

  .criar-alternativa span{
    font-size: 1.3em;
    font-weight: 500;
  }

  .criar-alternativa input{
    width: 85%;
    background-color: var(--laranjaTom1);
    border: none;
    font-size: 1.2em;
    outline: none;
  }

  .adicionar{
    width: 9em;
    background-color: var(--branco2);
    color: var(--azulTom5);
    font-weight: 500;
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  }

  .adicionar:hover{
    background-color: var(--azulTom4);
    color: var(--branco);
  }

  .concluir{
    width: 9em;
    background-color: var(--verde);
    color: var(--branco);
    font-weight: 500;
    border: 0.1em solid var(--verde);
    box-shadow: 0.2em 0.2em rgba(0, 0, 0, 0.2);
  }

  .concluir:hover{
    background-color: var(--branco);
    color: var(--verde);
  }

/*FIM CRIAÇÃO QUIZZ*/
/*AJUSTAR PELO TAMANHO DE TELAS*/

@media (max-width: 435px) {

  .input-pin div input{
    width: calc(25em - 10vh);
  }

  .btn-recurso{
    width: 20em;
  }

  .criar-alternativa{
    width: 17em;
  }

  .adicionar, .concluir{
    width: 8em;
  }
}

@media (max-width:576px){
  .btn-capa-ajuste-cadastrar{
    justify-content: center;
  }
  
  .btn-capa-ajuste-pin{
    justify-content: center;
  }
  
  .ajustar-btn-icone section{
    margin-bottom: 1em;
  }

  .espera-pin-logo{
    justify-content: center;
  }

  .espera-pin-participantes{
    justify-content: center;
    margin-top: 1.5em;
  }

  .ajuste-tela-pin{
    min-height: calc(100vh - 3.7em - 7.425em);
  }

  .result-individual div{
    margin-bottom: 0.3em;
  }

  .result-questoes-acertos, .result-questoes-erros{
    justify-content: center;
  }

  .fundo-tela{
    background-color: var(--azulTom5);
  }

  .quizz-tela-criacao{
    box-shadow: none;
  }
}

@media (max-width:768px){
  .campo-participantes{
    width: 15em;
  }

  .campo-participantes-esquerda {
    border-bottom-right-radius: 1em;
    border: none;
  }

  .desempenho-dados{
    margin-bottom: 0.5em;
  }
}

@media (max-width: 850px){
  .perguntas .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .perguntas .row div{
    height: 8em;
    width: 21.875em;
  }
}
